Default configuration includes client secret in URL

In the default configuration, Flask-oauthlib includes the client secret in the request to the token endpoint.

```
    def handle_oauth2_response(self):
        """Handles an oauth2 authorization response."""

        client = self.make_client()
        remote_args = { 
            'code': request.args.get('code'),
            'client_secret': self.consumer_secret,
            'redirect_uri': session.get('%s_oauthredir' % self.name)
        }   
```
those `remote_args` are then translated to URL parameters:
```
        elif self.access_token_method == 'GET':
            qs = client.prepare_request_body(**remote_args)
            url = self.expand_url(self.access_token_url)
            url += ('?' in url and '&' or '?') + qs
            resp, content = self.http_request(
                url,
                method=self.access_token_method,
            )   
```

RFC 6749, section 2.3.1 specifies "The parameters [client_id and client_secret] can only be transmitted in the request-body, and MUST NOT be included in the request URI".

Section 2.3.1 also requires that "[t]he authorization server MUST support the HTTP Basic Authentication scheme..."

So it seems that the best default behavior for Flask-oauthlib would be HTTP Basic Authentication, or failing that, requiring the user to provide the authentication (noting that `pre_request` does not apply to this particular HTTP request).

@djmitche The default access token method has been changed to POST per https://github.com/lepture/flask-oauthlib/commit/7e0dcfa75bf44422bd191056af0e2b569e57a316

OK, thanks.  The standard refers to that as "NOT RECOMMENDED", but it's better than including them in the URI.

Have you received my emails?